body {
    background-color: #f2f2f2;
    color: #555;
    font-family: "Lato";

-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
margin-top: 70px;}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300px;
    color: #333;
}
.centered {
    text-align: center;
}
a {
    color: #f85c37;
}
#viewerMe {
    visibility: hidden;
}